{% extends 'base.html.twig' %}

{% block title %}Mensajes
{% endblock %}

{% block body %}

	<h2>Messages</h2>

	<a href=" {{ path("mensajes")}}" class="btn btn-info mb-2">retour</a>

	{# show messages #}
	<div class="bg-success text-white p-2 mb-4">
		<h1>{{ mensaje.titulo }}</h1>
		<h4>{{ mensaje.contenido }}</h4>
		<p>{{ mensaje.createdAt | date('Y/m/d H:i') }}</p>
	</div>

	{# show comments if exist #}
	{% for coment in mensaje.comentarios %}
		<h1>{{ coment.nombre }}</h1>
		<h4>{{ coment.contenido }}</h4>
		<p>{{ coment.createdAt | date('Y/m/d H:i') }}</p>
	{% else %}
		<h2><em>soyez le premier à faire un commentaire</em></h2>
	{% endfor %}

	{# formulario de comentarios #}
	<h3>Animate y participa :</h3>
	{{ form_start(FormComent, {'attr': {'class': 'border p-2'}}) }}
	{{ form_widget(FormComent) }}
	{{ form_end(FormComent) }}
	
{% endblock %}
